# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Java
# =========================
*.class
*.log

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Maven
# =========================
target/

# =========================
# VS Code (just in case)
# =========================
.vscode/

